*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  margin:20px 0px 30px 0px;
}
.closure{
  text-align: center;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction:column;
}
.closure p{
  color: red;
  font-size: 1.5rem;
  text-decoration: underline;
}
.closureContent,
.closureResult,
.closureContent2,
.closureResult2{
  display: flex;
  margin: 20px 0px 20px 20px;
}
.IIFE{
  text-align: left;
  margin: 20px 0px 20px 20px;
}
.patternModule{
  text-align: left;
  margin: 20px 0px 20px 20px;
}
.patternModule h4{
    margin: 0px 0px 20px 0px;
}
.module{
  margin-bottom: 20px;
}
